*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/nature.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none
    font-size: 13px;

}
.content-selection{
    background: url(bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}
.content-selection h1{
    text-align: center;
    color: rgb(19, 17, 17);
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;

}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.content-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}
footer{
    background: rgb(29, 28, 28);
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: aliceblue;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.fotter-content h5{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
