*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(tickets.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none
    font-size: 13px;

}
.responsive {
    width: 100%;
    height: auto;
  }
.container{
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h2{
    background: #282829;
    color: aliceblue;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.container h2::after{
    content: '';
    border-top: 40px solid #282829;
    border-right: 40px solid transparent;
    position: relative;
    left: 48px;
    top: 34px;
}
.row{
    margin-top: 30px;
}
img{
    width: 100%;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    font-weight: bold;
}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}
.pet-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.pet-btn:hover{
    border: 1px solid red;
    background: red;
    transition: 1s;
}
footer{
    background: rgb(29, 28, 28);
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: aliceblue;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.fotter-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
