*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(types.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none
    font-size: 13px;

}
.text-box{
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;

}

  .primates{
    
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
    }
    h1{
        font-size: 36px;
        font-weight: 600;

    }
    h2{
        font-size: 40px;
        font-weight: 600;
    }
    p{
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;

      }
  

  .container {
    position: relative;
    width: 100%;
    max-width: auto;
  }
  .responsive {
    width: 100%;
    height: auto;
    position: center;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    height: auto;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  .panda{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h2{
    font-size: 36px;
    font-weight: 600;

}
h3{
    font-size: 40px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

  }
  .deers{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h2{
    font-size: 36px;
    font-weight: 600;

}
h3{
    font-size: 40px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

  }
.dollar{
    width: 100px;
    height: 100px;
    position: center;
}
table, th, td {
    border: 1px solid black;
  }

  footer{
    background: rgb(29, 28, 28);
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: aliceblue;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.fotter-content h5{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}